Language: Cpp
# BasedOnStyle: Chromium
IndentWidth: 4
ColumnLimit: 100
MaxEmptyLinesToKeep: 2

DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: false
AlignConsecutiveDeclarations: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false

BreakBeforeBraces: Custom
BraceWrapping:
    AfterEnum: false
    AfterStruct: false
    SplitEmptyFunction: false
    AfterControlStatement: false
    AfterFunction: true
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false
    SplitEmptyFunction: false
    SplitEmptyRecord: false

BreakBeforeTernaryOperators: false
BreakStringLiterals: true

IncludeBlocks: Preserve
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: true
NamespaceIndentation: All

PenaltyBreakBeforeFirstCallParameter: 5
PenaltyReturnTypeOnItsOwnLine: 3
ReflowComments: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: true
UseTab: Never
